.leftpic {
    float: left;
    margin: 50px 50px;
    border-radius: 5%;
    width: auto;
   }
   .font-size {
   font-size: 18pt;
}
.sharaga {
   font-size: 17pt;
}
.link {
   font-size: 17pt;
}

.list {

   font-size: 13pt;
   padding-right:10pt;
   background-color: #c2d9ff;
   border: 1px black dotted;
   border-radius: 3%;
   margin: 0pt 0pt 0pt -35pt;
}
a:link, a:visited {
   color: #07f;;
}
.inform {
   text-decoration: none;
   position: absolute;
   float: left;
   margin: -25pt 0pt 100pt 60pt;
}