.esc{
  text-decoration: none;
}
.button_esc {
  font-size: 15pt;
  background-color: #f2d483;
  margin-left: 2%;
}

details > summary {
        padding: 1pt;
        background-color: #f7eccd;
        color: #333;
        border: 1px #ccc solid;
        cursor: pointer;
	border-radius: 15pt;
}

.border_details {
width: 25%;
height: 5%;
}

